spring:
  application:
    name: user-center

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/delong
    username: root
    password: rootroot





server:
  port: 8080
  servlet:
    context-path: /api


mybatis-plus:
  configuration:
    map-underscore-to-camel-case: false
  global-config:
    db-config:
      logic-delete-field: isDelete # ?????????(deleted????????)
      logic-delete-value: 1 # ?????????????? 1
      logic-not-delete-value: 0 # ?????????????? 0



